body {
/*font-family:sans-serif;*/
font-family:'Raleway', serif;
background-image:url(../pastel_pattern.JPG);
text-align: center;
}

header{
text-align: center;
border-bottom:2px solid #000;
/*padding: 30px;*/
}
.headerFont{
font-family:'Indie Flower', cursive;
}
a.h1:focus {
  color: #23527c;
  text-decoration: none;
}

h1,h2,h3,h4 {
color:#000;
}

h1,h2 {
/*font-family:Georgia, serif;*/
font-family:'Raleway', serif;
margin:0;
}

h1 {
padding:20px;
}

h2 {
font-size:1.2em;
}

h5.italic{
	font-style: italic;
}

p {
color:#CCC;
}

a {
text-decoration:none;
color:#536872;
font-size:.75em;
}

.pane {
position:absolute;
left:25%;
border:2px solid;
border-radius:25px;
background-color:#333;
border-color:#999;
margin:5px;
padding:5px;
}

.header {
left:50%;
text-align:center;
}

.name {
width:50%;
display:inline-block;
float:left;
}

.price {
text-align:right;
width:50%;
float:right;
}

.flash {
	background-color: #98FB98;
	width:50%;
	height: 20%;
	/*height00: 20px;*/
	text-decoration: none;
	text-align: center;
/*	float:center;*/
	margin-left: auto;
	margin-right: auto;

}

.flash li {
	list-style-type: none;
}

.circletag {
    display: block;
    width: 40px;
    height: 40px;
    background: #E6E7ED;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;    
    text-align:center;
    margin-left: auto;
	margin-right: auto;
}