{% extends "base.html" %}
{% block content %}


<h1> All Items </h1>
<a href="{{url_for('newMenuItem',restaurant_id = restaurant_id)}}">Add New Item</a></br></br>

          {% for item in menu %}

            <h5>{{item.name}}</br></h5>
            <h5>{{item.description}}</br></h5>
            <h5>{{item.price}}</br></h5>
            <h5>{{item.course}}</br></h5>

            <a href="{{url_for('editMenuItem',restaurant_id = restaurant_id, menu_id =item.id)}}">Edit</a>
            <a href="{{url_for('deleteMenuItem',restaurant_id = restaurant_id, menu_id =item.id)}}">Delete</a>

            </br>
            </br>

          {% endfor %}


{% endblock %}