{% extends "base.html" %}
{% block content %}


<h1> Add a New Menu Item for {{name[0]}}</h1>

<form method='POST' enctype='multipart/form-data' action=''>

<h4>Name:</h4>
<input name='newItem' type='text' placeholder = 'E.g. Pasta Alfredo with Chicken' >
<br>
<h4>Description:</h4>
<input name='newDescription' type='text' placeholder = 'Sauteed chicken in pasta with Alfredo sauce' >
<br>
<h4>Price:</h4>
<input name='newPrice' type='text' min="0" step="0.1" placeholder = '$8.99' >
<br>
<h4>Course:</h4>

<input type="radio" name="course" value="Appetizer" checked> Appetizer<br>
<input type="radio" name="course" value="Lunch"> Lunch<br>
<input type="radio" name="course" value="Dinner"> Dinner<br>
<input type="radio" name="course" value="Beverage"> Beverage


<br><br>
<input type='submit' value='Create'>


{% endblock %}